{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}

{% block stylesheets %}
    <style>
        body {margin:0px;}
    </style>
{% endblock %}

{% block javascripts %}
    {% if 'on_play' == when_dispatch_view_event %}
        <script>
            window.onplay = function(e, track_id){
                if (track_id && !window.notifyVideoPlayedReq) {
                    window.notifyVideoPlayedReq = new XMLHttpRequest();
                    var url = '{{ path('pumukit_trackplayed_index', {id: '__id__'})|raw }}';
                    window.notifyVideoPlayedReq.open('POST', url.replace('__id__', track_id), true);
                    window.notifyVideoPlayedReq.send();
                }
            };
        </script>
    {% endif %}
{% endblock %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}


{% block body_base %}
    {% if not track and multimediaObject.isMultistream() %}
        {% set track = multimediaObject.getFilteredTrackWithTags(['sbs'], [], [], [], false) %}
        {% if not track %}
            {% set track = multimediaObject.getFilteredTrackWithTags(['presenter/delivery']) %}
        {% endif %}
        {% if not track %}
            {% set track = multimediaObject.getFilteredTrackWithTags(['presentation/delivery']) %}
        {% endif %}
    {% endif %}

    {% if not track %}
        {% set track = multimediaObject.getDisplayTrack() %}
    {% endif %}


    <div id="playerContainer" style="display:block;">
        <video style="width:100%; height: 100%; " controls controlsList="nodownload"
             poster="{{ multimediaObject|first_url_pic(true) }}"
             {{ autostart|default("true") ? "autoplay" }}
             {% if 'on_play' == when_dispatch_view_event and track %}
               onplay="window.onplay(event,  '{{ track.id|default('--') }}');"
             {% endif %}
             >
            {% if track %}
                <source src="{{ absolute_url(track_url(track)) }}" type="{{ track.getMimeType() }}" data-id="{{ track.id }}">
            {% endif %}

            {% set captions = captions(multimediaObject) %}
            {% for caption in captions %}
                <track label="{{ caption.language|language_name }}" kind="subtitles" srclang="{{ caption.language }}" src="{{ absolute_url(caption.url) }}">
            {% endfor %}
             Sorry, no public tracks or your browser doesn't support embedded videos.
        </video>
    </div>
{% endblock %}
