{% extends 'PumukitPaellaPlayerBundle:PaellaPlayer:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if custom_css_url is defined and custom_css_url %}
        <link rel="stylesheet" href="{{ custom_css_url }}" type="text/css" media="screen" charset="utf-8">
    {% endif %}
{% endblock %}

{% block body_base %}
    <div id="playerContainer" style="display:block;width:100%;">
    </div>
    <style>
        #playerContainer_videoContainer {
            background-color: #222;
            background-image: linear-gradient(to bottom, #333333, #111111);
        }

        #playerContainer_videoContainer_bkg {
            display: none;
        }

        #paella_logo\.png {
            display: none !important;
        }

        #introContainer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }

        #intro {
            width: 100%;
            height: 100%;
        }

        #skipContainer{
            position: absolute;
            bottom: 3em;
            cursor: pointer;
            max-width: 300px;
            right: 1em;
            background: rgba(80, 80, 80, 0.8);
            font-weight: bold;
            color: #fafafa;
            padding: .65em;
            font-size: 1.2em;
            z-index: 99999;
        }

        #overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99998;
        }
    </style>
    <script>

        localStorage.opencast_host = "{{ opencast_host }}";
        var isOpencast = "{{ multimediaObject.getProperty('opencast') }}";
        if(isOpencast) {
            localStorage.opencastId = "{{ multimediaObject.getProperty('opencast') }}"
        } else {
            localStorage.opencastId = null;
        }

        $(document).bind(paella.events.loadComplete, function (event, params) {
            {% if autostart is defined and autostart == 'true' %}
            if (!base.userAgent.browser.IsMobileVersion) {
                setTimeout(function () {
                    paella.player.play();
                }, 300);
            }
            {% endif %}

            setTimeout(function () {
                setPaellaProfile("{{ getPaellaLayout(multimediaObject, app.request) }}");
            }, 300);

        });
        const container= document.querySelector("#playerContainer");
        const intro = document.createElement("video");
        const introContainer = document.createElement("div");
        const skipContainer = document.createElement("div");
        const overlay = document.createElement("overlay");

        intro.src="https://dls2.uvigo.es/vod//1771/74650.mp4";
        intro.id="intro";
        intro.addEventListener('ended', onEndedVideo);

        skipContainer.id = "skipContainer";
        introContainer.id = "introContainer";
        overlay.id = "overlay";
        skipContainer.addEventListener("click", onEndedVideo);

        skipContainer.innerHTML = '{{ "Next Up" | trans}}';

        introContainer.appendChild(intro);
        introContainer.appendChild(skipContainer);
        introContainer.appendChild(overlay);
        container.appendChild(introContainer);
        intro.play();

        function onEndedVideo() {
            container.removeChild(introContainer);
            loadPaella('playerContainer', '{{ multimediaObject.id }}');
        }
        function setPaellaProfile(profileName) {
            $('.viewModeItemButton').removeClass('selected');
            $('.viewModeItemButton.' + profileName).addClass('selected');
            paella.player.setProfile(profileName);
            base.cookies.set("lastProfile", profileName);
        }
    </script>
{% endblock %}
